

.forgotten-password-get-email{
    width: 100%;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotten-password-get-email .forgotten-password-get-email-box{
    width:500px;
    height:300px;
    background-color: white;
    border-radius: 8px;
    display: grid;
    box-shadow: 0 0 10px grey;
}

.forgotten-password-get-email .forgotten-password-title{
    padding: 1.25rem;
    border-bottom: 1px solid grey;
    height: 60px;
}

.forgotten-password-get-email .forgotten-password-input{
    position: relative;
    display:grid;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    height: 10rem;
    gap:1rem;
    border-bottom: 1px solid grey;
}

.forgotten-password-get-email .forgotten-password-input-email{
    height: 3rem;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid grey;
}

.forgotten-password-get-email .forgotten-password-input-email:focus{
    outline: none !important;
    border-radius: 8px;
    border: 1px solid #1560bd;
    box-shadow: 0 0 10px #719ECE;
}

.forgotten-password-get-email .forgotten-password-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;
    padding: 1rem;
}

.forgotten-password-get-email .forgotten-password-back-button{
    padding-inline: 1.5rem;
    padding-block: .7rem;
    background-color: lightgray;
    color: #151616;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 800ms;
}

.forgotten-password-get-email .forgotten-password-back-button:hover{
    filter: brightness(0.9);
}

.forgotten-password-get-email .forgotten-password-next-button{
    padding-inline: 1.5rem;
    padding-block: .7rem;
    background-color: #1560bd;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 500ms;
}

.forgotten-password-get-email .forgotten-password-next-button:hover{
    filter: brightness(1.2);
}