.upper-side-navigation-links{
    display:flex;
    align-items:center;
    justify-content:center;
}

.upper-side-navigation-links-labels{
    --button-size:40px;
    width:var(--button-size);
    height:var(--button-size);
    background-color:#484a4d;
    padding:5px;
    margin:2px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:filter 300ms;
}

.upper-side-navigation-links-labels:hover{
    filter:brightness(1.2);
    background-color:#484a4d;
}

.upper-side-navigation-links-text{
    color:#fff;
    align-items:center;
    justify-content:center;
    display:flex;
}

.upper-side-navigation-links-icons-left{
    color: white;
}

