.edit-upper-profile-box{
    padding:5px;
    gap:1px;
    border-radius:50%;
    border:none;
    display:flex;

}

.edit-upper-profile-image{

}

.edit-disabled-buttons{
    display: flex;
    gap:1rem;
}

.edit-disabled-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;
    padding:5px;
    border-radius:8px;
    color:#fff;
}