:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
  }

.side-bar-navigate{
    padding-top:60px;
    border-right: 1px solid #474a4d;
    background-color: #242526;
    width:320px;
    height:100%;
    position:fixed;
    margin: 0;
    display: grid;
    padding-inline: 1rem;
    z-index: 1;
}

.side-bar-navigate-interior{
    position: relative;
    display: grid;
    gap:1rem;
    height: fit-content;
}

.side-bar-navigate-interior > .upper-side{
    padding-top: 1rem;
    display: grid;
    gap:1rem;
}

.side-bar-navigate-name{
    color: white;
}

.side-bar-navigate-search-form{
    position: relative;
    align-items: center;
}

.side-bar-navigate-search-input{
    background:none;
    border: 1px solid #474a4d;
    border-radius: 30px;
    height: 3rem;
    width: 100%;
    padding-left: 2rem;
    color: white;
}

.side-bar-navigate-search-input:focus{
    outline: none !important;
    border-radius: 30px;
    border: 1px solid #1560bd;
    box-shadow: 0 0 10px #719ECE;
}

.side-bar-navigate-search-label{
    position: absolute;
    align-items: center;
    bottom: 25%;
    left:4px;
    color:#fff;
    cursor:text;
}

.side-bar-navigate-items{
    overflow-x: hidden;
    overflow-y: auto;
}