:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
  }

.menu-bars{
    padding: 0 16px;
    font-size:2rem;
    background: none;
}

.nav-menu{
    border-right: 1px solid #474a4d;
    background-color: #242526;
    width:320px;
    height:100%;
    position:fixed;
    margin: 0;
    padding: 0;
    z-index: 1;
    gap:10px;
}

.nav-menu-name{
    color:#fff;
    margin: 1rem;
}

.nav-menu-items{
    overflow-x: hidden;
    overflow-y: auto;
}